@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

a {
    color: #1b7cd1;
}

body {
    transform: scale(1.5);
    position: fixed;
    max-width: 100% !important;
    overflow-x: hidden !important;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
}

body.dark-mode {
    background-color: #222;
    color: #eee;
}

#dark-mode {
    top: 20%;
    right: 20%;
    position: absolute;
}

.dark-mode input, select, textarea {
	color: #eee
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #444;
}

input:focus + .slider {
    box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.container .inputUrl {
    transform: translate(-50%, -50%);
    width: auto;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #DADCE0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.container .links {
    transform: translate(-50%, -10%);
    width: auto;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid #DADCE0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.container .links .table {
    margin: 0 auto;
}

.inputUrl h1 {
    color: #202124;
    margin: 0px 0 -0.125rem;
    padding: 0;
    text-align: center;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.dark-mode .inputUrl h1 {
    color: #eee;
    margin: 0px 0 -0.125rem;
    padding: 0;
    text-align: center;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .inputUrl h1 {
        font-size: 16px;
    }
    .dark-mode .inputUrl h1 {
        font-size: 20px;
    }
    p {
        font-size: 10px;
    }
}

.inputUrl .inputBox {
    position: relative;
}

.inputUrl .inputBox input {
    width: 93%;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #cccccc;
    background: transparent;
    border-radius: 4px;
}

.inputUrl .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: gray;
    pointer-events: none;
    transition: all 0.2s, background-color 0s;
}

.inputUrl .inputBox input:focus ~ label,
.inputUrl .inputBox input:valid ~ label,
.inputUrl .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #ff0404;
    font-size: 0.75rem;
    background-color: white;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.dark-mode .inputUrl .inputBox input:focus ~ label,
.dark-mode .inputUrl .inputBox input:valid ~ label,
.dark-mode .inputUrl .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    color: #ff0404;
    font-size: 0.75rem;
    background-color: #222;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.inputUrl .inputBox input:focus {
    outline: none;
    border: 2px solid #ff0404;
}

.inputUrl input[type="submit"] {
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #ff0404;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.312rem;
    font-size: 1rem;
}

.inputUrl input[type="submit"]:hover {
    background-color: #ff0404;
    box-shadow: 0 1px 1px 0 rgba(225, 4, 4, 0.45), 0 1px 3px, 1px rgba(225, 4, 4, 0.3);
}
